POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_DB=b2b_db
MINIO_URL=minio:9000
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_BUCKET=marketplace-images
MINIO_URL_EXTERNAL=http://localhost:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_password
JWT_SECRET=supersecretkey_change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

B2B_TO_B2C_KEY=secret-b2b-b2c-key

# Moderation
MODERATION_URL=http://localhost:8001
B2B_TO_MOD_KEY=secret-b2b-mod-key

# B2C
B2C_URL=http://localhost:8002